{% extends 'food/base.html' %}

{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">

    {% csrf_token %}
    
    <p>Are you Sure you want to delete </p>

    {{ crfo.prod_code }}

    {{ crfo.ratings }}

    {{ crfo.feedback }}

    <button type="submit">Confrim</button>


    </form>
    

</body>
</html> 

{% endblock %}